
@media (max-width:1200px) {
   
    #home .top-banner img{
        height: 60vh;
        margin-top: 30%;
    } 
    #home .top-banner h2{
        font-size: 2.1rem;
        margin-top: 60%;
    }
}

@media (max-width:1000px) {
    
    #home .top-banner img{
        height: 60vh;
        margin-top: 30%;
    }  
}

@media (max-width:991px) {
    #navbarSupportedContent{
        background-color: rgb(209, 200, 176);
        height: 40vh;
        align-items: center;
        
        justify-content: center;
    }
    #navbarSupportedContent:hover{
        color: greenyellow;
    }
    .header li .nav-link{
        font-size: 1.5rem;
        width: 100%;
        margin-top: 2%;
        text-align: center;
        line-height: 6vh;
        font-weight: 400;
        padding: 1px 6px;
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 44%;
        font-size: 1.5rem;
    }
    #home .top-banner img{
        height: 63vh;
        width: 55vw;
        margin-top: 35%;
        margin-left: 20%;
    }
    #home .top-banner h2{
        font-size: 2.1rem;
        position: relative;
        left: -12%;
        margin-top: 90%;
    }
    #home .top-banner p{
        font-size: 1.2rem;
        position: relative;
        left: -12%;
    }
    .facility button{
        position: relative;
        left: 40%;
    }
    .navbar-brand img{
        position: relative;
        height: 6vh;
        width: 15%;
    }
    .appointment .content{
        padding: 2rem 3rem;
        margin-right: 50%;
    }
    .appointment .content h3{
        margin-right: 20%;
    }
    .link-btn{
        padding: .4rem .8rem;
    }
   
}
   


@media (max-width:767px) {
    #home .top-banner h2{
        font-size: 2rem;
        position: relative;
        margin-top: 103%;
        left: -1%;
    }
    #home .top-banner p{
        font-size: 1rem;
        position: relative;
        left: -1%;
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 42.5%;
        font-size: 1.5rem;
    }
    #home .top-banner img{
        height: 60vh;
        width: 90vw;
        margin-top: 80%;
        
    }
    #gallery .container img{
        position: relative;
        margin-left: -35%;
     }
    
    #contact img{
       width: 30vw;
    }
    .appointment .content{
        padding: 4rem 1.1rem;
        position: relative;
        left: -10%;
       
    }
    .appointment .content h3{
        margin-right: 20%;
    }
    .link-btn{
        padding: .4rem .8rem;
    }
   
    
}




@media (max-width:622px) {
    .navbar-brand h2{
        font-size: 1.5rem;
        font-weight: 800;
    }
    .navbar-brand img{
        position: relative;
        
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 41%;
        font-size: 1.5rem;
    }
    
    #gallery .container img{
        position: relative;
        margin-left: 1%;
     }
     .appointment .content{
        padding: 5rem 1rem;
        position: relative;
        left: 4%;
   
    }
    
    .link-btn{
        padding: .3rem .7rem;
    }

}




@media(max-width:575px){
    .navbar-brand h2{
        font-size: 1.3rem;
        position: relative;
        left: -.2%;
    }
    #home .top-banner h2{
        font-size:1.8rem;
        position: relative;
        left: 15%;
        margin-top: 120%;
        
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 40%;
        font-size: 1.5rem;
    }
    #home .top-banner p{
        font-size: 1rem;
        position: relative;
        left: 15%;
       
    }
   
    #contact img{
        width: 80vw;
        margin-top: -8%;
    }
    #contact h3{
      margin-top: -6%;
      font-size: 1.8rem;
    }

    #home .top-banner img{
        
        margin-top: 75%;
    }
    #gallery .container img{
        position: relative;
        margin-left: 25%;
     }
     .appointment .content{
        padding: 5rem 0.2rem;
       position: relative;
       left: 5%;
    }
    .appointment .content h3{
        margin-right: 22%;
    }
    .link-btn{
        padding: .4rem .8rem;
    }
}
@media (max-width:480px) {
    .navbar-brand h2{
        font-size: 1.2rem;
    }
   
    .collapse button{
        text-align: center;
        position: relative;
        left:37.5%;
        font-size: 1.5rem;
    }
}

/*iphone 14 pro max*/
@media (max-width:430px) {
    .navbar-brand h2{
        font-size: 1.1rem;
        position: relative;
        left: 0%;
    }
    .navbar-brand img{
        position: relative;
        height: 4vh;
        width: 12%;
        
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 40%;
        font-size: 1.5rem;
    }
    #gallery .container img{
        position: relative;
        margin-left: 13%;
     }
    #home {
        height: 70vh;
    }
    #home .top-banner img{
        width: 60vw;
    }
    .facility button{
        position: relative;
        left: 34%;
    }
    #home .top-banner h2{
        position: relative;
        margin-top: 120%;
        font-size: 1.5rem;
    }
    #home .top-banner p{
        position: relative;
        font-size: .8rem;
    }
    
}
   /* #home{
        width: 100%;
        height: 59vh;
        top: 4vh;
        background-color:antiquewhite;
    }*/
    /*#home .top-banner h2{
        font-size:1.4rem;
        position: relative;
        left: 15%;
        margin-top: 120%;
    }
    #home .top-banner p{
        font-size: 0.8rem;
        position: relative;
        left: 15%;
       
    }
    /*#home .top-banner img{
        width: 120%;
        height: 44.8vh;
        margin-top: 55%;
        margin-left: -8%;
    }*/
    /*.facility button{
        position: relative;
        left: 31%;
}
}
*/


@media (max-width:400px) {
    
    .navbar-brand img{
        position: relative;
        height: 4vh;
        width: 12%;
        left: -1%;
    }
    .navbar-brand h2{
        font-size: 1.1rem;
        font-weight: 800;
        position: relative;
        left: -2%;
        letter-spacing: -1px;
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 34%;
        font-size: 1.5rem;
    }
    #home .top-banner h2{
        font-size:1.2rem;
        position: relative;
        left: 15%;
        font-weight: 900;
        margin-top: 133%;
    }
    #home .top-banner p{
        font-size: 0.8rem;
        position: relative;
        left: 15%;
        
    }
    #home{
        width: 100%;
        height: 65vh;
    }
    #home .top-banner img{
        height: 45vh;
        margin-top: 88%;
    }
    form{
        width: 120%;
    }
    #all-test{
        width: 100%;
        height: 320vh;
        
        background-color:antiquewhite;
    }
    #all-test main{
        padding-top: 30%;
        padding-left: 4%;
        padding-right: 4%;
     }
     #gallery .container img{
        position: relative;
        margin-left: 10%;
     }
}
@media (max-width:355px) {
    #home .top-banner img{
        height: 50vh;
        margin-top: 100%;
    }
}
@media (max-width:255px) {
    #home .top-banner img{
        height: 37vh;
        margin-top: 230%;
    }
}











@media screen and (min-height: 1500px) and (max-height: 4000px) {
    
    .facility{
        height: 10vh;
        position: relative;
    }
    #specification .container{
        position: relative;
        height: 13vh;
    }
    #home {
        height: 55vh;
    }
    #home .top-banner h2{
        font-size: 3rem;
        position: relative;
        margin-top: 125%;
    }
    #home .top-banner img{
        height: 50vh;
        position: relative;
        margin-top: 60%;
    }/*
    #home .top-banner p{
        font-size: 2rem;
    }*/
}
@media screen and (min-height: 1000px) and (max-height: 1500px){
    #home {
        height: 67vh;
    }
    
    #specification .container{
        position: relative;
        height: 16vh;
    }
}
@media (max-height:1000px) {
    #all-test{
        width: 100%;
        height: 280vh;
        
        background-color:antiquewhite;
    }
    
}
@media (max-height:900px) {
    #all-test{
        width: 100%;
        height: 300vh;
        
        background-color:antiquewhite;
    }
}
@media (max-height:800px){
    #all-test{
        width: 100%;
        height: 340vh;
        background-color:antiquewhite;
    }
    #home .top-banner img{
        margin-top: 80%;
        height: 50vh;
    }
    #home .top-banner h2{
        margin-top: 130%;
    }
    #home{
        height: 65vh;
    }
}
@media (max-height:700px){
    #home .top-banner h2{
        position: relative;
        font-size: 1.8rem;
        
    }
    #home{
        height: 69vh;
    }
    #home .top-banner p{
        font-size: 1.4rem;
    }
    #home .top-banner img{
        margin-top: 15%;
    }
}
@media (max-height:645px){
    #home{
        height: 68vh;
    }
}
@media (max-height:600px){
    #home{
        height: 63vh;
    }
    #home .top-banner img{
        margin-top: 12%;
    }
    #home .top-banner h2{
        font-size: 1.6rem;
        margin-top: 30%;
    }
    
}
