
@media (max-width:1200px) {
    #contact iframe{
        padding-right: 80px;
    }
    #home .top-banner img{
        height: 60vh;
        margin-top: 70%;
    } 
}

@media (max-width:1000px) {
    #contact iframe{
        padding-right: 100px;
    }  
    #home .top-banner img{
        height: 60vh;
        margin-top: 50%;
    }  
}

@media (max-width:991px) {
    #navbarSupportedContent{
        background-color: rgb(209, 200, 176);
        height: 36vh;
        align-items: center;
        
        justify-content: center;
    }
    .header li .nav-link{
        font-size: 1.5rem;
        width: 100%;
        margin-top: 2%;
        text-align: center;
        line-height: 6vh;
        font-weight: 400;
        padding: 1px 6px;
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 44%;
        font-size: 1.5rem;
    }
    #home .top-banner img{
        height: 63vh;
        width: 55vw;
        margin-top: 35%;
        margin-left: 20%;
    }
    #home .top-banner h2{
        font-size: 2.1rem;
        position: relative;
        left: -12%;
        margin-top: 90%;
    }
    #home .top-banner p{
        font-size: 1.2rem;
        position: relative;
        left: -12%;
    }
    .facility button{
        position: relative;
        left: 40%;
    }
    .navbar-brand img{
        position: relative;
        height: 6vh;
        width: 15%;
    }
    #contact iframe{
        padding-right: 120px;
    }
}
   /* #home{
        width: 100%;
        height: 71vh;
    }
    
    
    
    
    
    
}

*/


@media (max-width:767px) {
    #home .top-banner h2{
        font-size: 2rem;
        position: relative;
        margin-top: 103%;
        left: -1%;
    }
    #home .top-banner p{
        font-size: 1rem;
        position: relative;
        left: -6%;
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 42.5%;
        font-size: 1.5rem;
    }
    #home .top-banner img{
        height: 60vh;
        width: 90vw;
        margin-top: 80%;
        
    }
    #gallery .container img{
        position: relative;
        margin-left: -35%;
     }
    #contact iframe{
        padding-right: 120px;
    }
    #contact img{
       width: 30vw;
    }
    
}




@media (max-width:622px) {
    .navbar-brand h2{
        font-size: 1.5rem;
        font-weight: 800;
    }
    .navbar-brand img{
        position: relative;
        
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 41%;
        font-size: 1.5rem;
    }
    #contact iframe{
        padding-right: 120px;
    }
    #gallery .container img{
        position: relative;
        margin-left: 1%;
     }
    

}




@media(max-width:575px){
    .navbar-brand h2{
        font-size: 1.3rem;
        position: relative;
        left: -.2%;
    }
    #home .top-banner h2{
        font-size:1.8rem;
        position: relative;
        left: 15%;
        
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 40%;
        font-size: 1.5rem;
    }
    #home .top-banner p{
        font-size: 1rem;
        position: relative;
        left: 15%;
       
    }
    #contact iframe{
        padding-right: 120px;
    }
    #contact img{
        width: 80vw;
        margin-top: -8%;
    }
    #contact h3{
      margin-top: -6%;
      font-size: 1.8rem;
    }

    #home .top-banner img{
        
        margin-top: 75%;
    }
    #gallery .container img{
        position: relative;
        margin-left: 25%;
     }
}
@media (max-width:480px) {
    .navbar-brand h2{
        font-size: 1.2rem;
    }
    #contact iframe{
        padding-right: 130px;
    }
    .collapse button{
        text-align: center;
        position: relative;
        left:37.5%;
        font-size: 1.5rem;
    }
}

/*iphone 14 pro max*/
@media (max-width:430px) {
    .navbar-brand h2{
        font-size: 1.1rem;
        position: relative;
        left: 0%;
    }
    .navbar-brand img{
        position: relative;
        height: 4vh;
        width: 12%;
        
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 40%;
        font-size: 1.5rem;
    }
    #gallery .container img{
        position: relative;
        margin-left: 13%;
     }
    #home {
        height: 60vh;
    }
    #home .top-banner img{
        width: 60vw;
    }
    .facility button{
        position: relative;
        left: 34%;
    }
    
    #contact iframe{
        padding-right: 130px;
    }
}
   /* #home{
        width: 100%;
        height: 59vh;
        top: 4vh;
        background-color:antiquewhite;
    }*/
    /*#home .top-banner h2{
        font-size:1.4rem;
        position: relative;
        left: 15%;
        margin-top: 120%;
    }
    #home .top-banner p{
        font-size: 0.8rem;
        position: relative;
        left: 15%;
       
    }
    /*#home .top-banner img{
        width: 120%;
        height: 44.8vh;
        margin-top: 55%;
        margin-left: -8%;
    }*/
    /*.facility button{
        position: relative;
        left: 31%;
}
}
*/


@media (max-width:400px) {
    
    .navbar-brand img{
        position: relative;
        height: 4vh;
        width: 12%;
        left: -1%;
    }
    .navbar-brand h2{
        font-size: 1.1rem;
        font-weight: 800;
        position: relative;
        left: -2%;
        letter-spacing: -1px;
    }
    .collapse button{
        text-align: center;
        position: relative;
        left: 34%;
        font-size: 1.5rem;
    }
    #home .top-banner h2{
        font-size:1.2rem;
        position: relative;
        left: 15%;
        font-weight: 900;
        margin-top: 113%;
    }
    #home .top-banner p{
        font-size: 0.8rem;
        position: relative;
        left: 15%;
        
    }
    #home{
        width: 100%;
        height: 55vh;
    }
    #home .top-banner img{
        height: 45vh;
        margin-top: 75%;
    }
    form{
        width: 120%;
    }
    #all-test{
        width: 100%;
        height: 320vh;
        
        background-color:antiquewhite;
    }
    #all-test main{
        padding-top: 30%;
        padding-left: 4%;
        padding-right: 4%;
     }
     #gallery .container img{
        position: relative;
        margin-left: 10%;
     }
}
@media (max-width:355px) {
    #home .top-banner img{
        height: 40vh;
        margin-top: 150%;
    }
}
@media (max-width:255px) {
    #home .top-banner img{
        height: 37vh;
        margin-top: 230%;
    }
}











@media screen and (min-height: 1500px) and (max-height: 4000px) {
    
    .facility{
        height: 10vh;
        position: relative;
    }
    #specification .container{
        position: relative;
        height: 13vh;
    }
    #home {
        height: 55vh;
    }
    #home .top-banner h2{
        font-size: 3rem;
        position: relative;
        margin-top: 125%;
    }
    #home .top-banner img{
        height: 50vh;
        position: relative;
        margin-top: 60%;
    }/*
    #home .top-banner p{
        font-size: 2rem;
    }*/
}
@media screen and (min-height: 1000px) and (max-height: 1500px){
    #home {
        height: 67vh;
    }
    
    #specification .container{
        position: relative;
        height: 16vh;
    }
}
@media (max-height:900px) {
    #all-test{
        width: 100%;
        height: 280vh;
        
        background-color:antiquewhite;
    }
}
